<!DOCTYPE html>
<html>
  <head>
    <title><%= extra %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= extra %></h1>
    <p>Welcome to <%= extra %></p>
  </body>
</html>
